.products-category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1040px) {

  .products-category-list {
    justify-content: normal;
  }
}

@media (max-width: 680px) {

  .products-category-list {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}

@media (max-width: 477px) {

  .products-category-list {
    gap: 15px;
  }
}
