.products__card {
  padding: 17.5px 15px;
  border: 1px solid var(--borderColor);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: .2s all ease;
}

.products__card:hover {
  background-color: var(--focusInputBackground);
}

.products__card__img-wrapper {
  max-width: 100%;
  width: 83%;
  height: 205px;
}

.products__card__img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.products__card__title {
  font-size: 1.37rem;
  line-height: 1.56rem;
  margin: 20px 0;
}

.products__card__info {
  display: flex;
  justify-content: space-between;
}

.products__card__info-price {
  font-weight: 600;
  font-size: 1.5rem;
}

.products__card__info-currency {
  font-weight: 600;
  margin-left: 3px;
  font-size: .87rem;
}

.products__card__add-btn {
  position: relative;
  will-change: contents;
  transition: .2s all;
}

.products__card__add-btn:hover {
  transform: rotate(-7deg);
}

.products__card__count {
  display: flex;
  box-sizing: border-box;
  font-size: 10px;
  padding: 2px 3px;
  position: absolute;
  top: -3px;
  right: -5px;
  line-height: 1;
  font-weight: 700;
  border-radius: 50%;
  width: 16px;
  height: 17px;
  background-color: var(--secondaryButtonColor);
  justify-content: center;
  align-items: center;
}

@media (max-width: 580px) {

  .products__card__img-wrapper {
    margin: 0 auto;
  }
}
